<div class="large-4 columns large-centered panel top-margin text-center">
  <h1>Recime</h1>
  <%= link_to "Log In", new_session_path, class: 'button' %>
  <%= link_to "New User", new_user_path, class: 'button' %>
</div>
